<!DOCTYPE html>
<html>
<head>
    <title>Астрологическое приложение</title>
</head>
<body>
    <h1>Введите данные для расчета</h1>
    <form action="/" method="post">
        <label for="year">Год:</label>
        <input type="number" id="year" name="year" required><br><br>
        
        <label for="month">Месяц:</label>
        <input type="number" id="month" name="month" required><br><br>
        
        <label for="day">День:</label>
        <input type="number" id="day" name="day" required><br><br>
        
        <label for="hour">Час:</label>
        <input type="number" id="hour" name="hour" required><br><br>
        
        <label for="minute">Минута:</label>
        <input type="number" id="minute" name="minute" required><br><br>
        
        <label for="place">Место:</label>
        <input type="text" id="place" name="place" required><br><br>

        <input type="submit" value="Рассчитать">
    </form>
</body>
</html>