<!DOCTYPE html>
<html>
<head>
    <title>Astrology App</title>
</head>
<body>
    <h1>Введите данные для расчета</h1>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="/">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date"><br><br>
        <label for="time">Время:</label>
        <input type="time" id="time" name="time"><br><br>
        <label for="location">Место (название):</label>
        <input type="text" id="location" name="location"><br><br>
        <input type="submit" value="Рассчитать">
    </form>
</body>
</html>